.login-register-template .container {
  margin-top: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 580px;
  border: 1px solid black;
  border-radius: 20px;
}

.login-register-template .container form {
  margin: 0 auto 20px;
}

.login-register-template .container form .form-check {
  margin-bottom: 15px;
}

.login-register-template .container .google {
  margin-top: 20px;
  min-width: 230px;
}

.login-register-template .container .pageRedirect {
  padding-top: 15px;
}
/*# sourceMappingURL=registerLogin.css.map */