.login-register-template{
    .container{
        margin-top:20px;
        padding: 20px;
        box-sizing: border-box;
        max-width:580px;
        border: 1px solid black;
        border-radius: 20px;
        form{
            margin: 0 auto 20px;
            .form-check{
                margin-bottom: 15px;
            }
        }
        .google{
            margin-top:20px;
            min-width: 230px;
        }
        .pageRedirect{
            padding-top: 15px;
        }
    }
}