html, body {
  margin: 0;
  padding: 0px;
}

.text-center {
  text-align: center;
}

#navbarToggler .navbar-dropdown-menu {
  padding: 0px 10px;
}

#navbarToggler .navbar-user-profile {
  border-radius: 30px;
  border: 4px solid #68e253;
  margin: 0px 15px;
}

.page-footer {
  background: cornflowerblue;
  color: white;
}

.page-footer a {
  text-decoration: none;
  color: white;
}

.shop-page {
  min-height: 70vh;
}

.shop-page .row {
  padding: 20px 0px;
  min-height: 70vh;
}

.shop-page .row .product {
  border: 1px solid gray;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 3px 1px;
          box-shadow: 2px 2px 3px 1px;
  float: left;
  margin: 10px;
  box-sizing: border-box;
}

.shop-page .category-list ul {
  list-style: none;
  padding-left: 0px;
}

.shop-page .category-list ul li {
  font-size: 18px;
}

.cookie-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: darkcyan;
}

.cookie-bar a {
  text-decoration: none;
  color: white;
}

.cookie-bar .col-lg-3 button {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */