.welcome {
  background-image: url("../images/background-register-login.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.welcome header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20vh;
  padding: 30px 40px;
}

.welcome header h1 {
  margin: 0px;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 48px;
}

.welcome .container {
  height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.welcome .left, .welcome .right {
  width: 50%;
  float: left;
}

.welcome .left h2, .welcome .right h2 {
  letter-spacing: 1px;
}

.welcome .left .hrefButton, .welcome .right .hrefButton {
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  border: 2px solid white;
  border-radius: 30px;
  width: 100px;
  display: block;
  background-color: lightseagreen;
  font-size: 18px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
}

.welcome .left .hrefButton:hover, .welcome .right .hrefButton:hover {
  border-color: cadetblue;
}

.welcome .left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 400px;
  border-right: 2px solid darkturquoise;
}

.welcome .left p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.welcome .right {
  position: relative;
}

.welcome .right .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome .right .content div {
  margin: 30px 0px;
}

.welcome .right .content div:first-of-type {
  margin-top: 0px;
}

.welcome .right .content div:last-of-type {
  margin-bottom: 0px;
}
/*# sourceMappingURL=welcome.css.map */