.welcome{
    background-image: url('../images/background-register-login.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    header{
        box-sizing: border-box;
        height: 20vh;
        padding: 30px 40px;
        h1{
            margin: 0px;
            font-family: 'Lexend Tera', sans-serif;
            font-size: 48px;
        }
    }
    .container{
        height: 80vh;
        box-sizing: border-box;
    }
    .left, .right{
        width: 50%;
        float: left;
        h2{
            letter-spacing: 1px;
        }
        .hrefButton{
            text-decoration: none;
            text-align: center;
            padding: 15px 20px;
            border: 2px solid white;
            border-radius: 30px;
            width: 100px;
            display: block;
            background-color: lightseagreen;
            font-size: 18px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            &:hover{
                border-color: cadetblue;
            }
        }
    }
    .left{
        box-sizing: border-box;
        min-height: 400px;
        border-right: 2px solid darkturquoise;
        p{
            text-align: center;
            font-size: 22px;
            font-weight: 500;
        }
    }
    .right{
        position: relative;
        .content{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            div{
                margin: 30px 0px;
                &:first-of-type{
                    margin-top: 0px;
                }
                 &:last-of-type{
                    margin-bottom: 0px;    
                }
            }
          
        }
    }
}